# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Build outputs
/.next/
/out/
/build

# Local environment variables
.env*

# IDE specific
.idx/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
